body{
    font-family: verdana;
    font-size: 10pt;
    margin: 0;
}

.archbody{
    margin: auto;
    display: grid;
    row-gap: 10pt;
    width: 1240px; 
}



/* PASEK NAWIGACJI */

nav{
    display: grid;
    align-items: center;
    grid-template-columns: 20% 60% 20%;
    height: 50pt;
    background-color: white;
    text-align: center;
    position: sticky;
    top: 0;
}

.logo{
    text-align: right;
    border: 1pt solid;
    margin: auto auto auto 0;
    background-image: url(img/food-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 44pt;
}

ul#options{
	list-style: none;
	float: left;
}

#options li{
    float: left;
}

#options a{
    border: none;
    color: black; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 10pt;
    transition-duration: 0.6s;
    border-radius: 10pt;
}

#options a:hover{
    background-color: #4CAF50;
}

.hub a:hover{
    display: inline-block;
    font-weight: bold;
    padding: 15px 32px;
    background-color: #4CAF50;
}

/* SEKCJA 1 */

header{
    height: 315pt;
    display: grid;
    background-image: url(img/listopad-www.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    grid-template-columns: 15% 50% 42.5%;
    row-gap: 60pt;
}

.top{
    grid-column: 2 / 3;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 30pt;
}

#top > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
}

.top > p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt;
}



/* SEKCJA 2 */

main{
    height: 300pt;
    display: grid;
    grid-template-columns: 75% 25%;
    box-sizing: border-box;
    
}

.content h2, .ad h2{
    text-align: center;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 20pt;
    
}

.content img{
    float: left;
    height: 300pt;
    width: 300pt;
    margin-right: 5pt;
}

.content p{
    font-family: Verdana, Geneva, Tahoma, monospace;
    text-align: justify;
    text-indent: 15pt;
    line-height: 1.5;
    font-size: 13pt;
    padding-top: 30pt;
    margin-right: 10pt;

}

.ad{
    text-align: center;
    background-image: url(img/vegeback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ad ol{
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 70pt 40pt 40pt 40pt;
    /* list-style: upper-roman; */
}



/* SEKCJA 3 */

.container3{
    height: 200pt;
    display: grid;
    grid-template-columns: 33% auto 33%;
    column-gap: 5pt;
}

.container3 > div{
    border: 1pt solid rgb(119, 119, 119);
    border-radius: 20pt;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    align-items: center;
    display: flex;
    justify-content: center;


}

.left{
    background-image: url(img/bogracz-tradycyjny.webp);
    background-size: cover;
    background-position: center;
}

.center{
    background-image: url(img/gyros.webp);
    background-size: cover;
    background-position: center;
}

.right{
    background-image: url(img/mufinki.webp);
    background-size: cover;
    background-position: center;
}

.container3 > div:hover{
    opacity: 0.8;
}  

.container3 a{
    text-align: center;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    background: rgb(224, 224, 224);
    border: 1pt solid black;
    margin: auto; 
    height: 20pt;
    width: 100pt;
    border-radius: 5pt; 
    
}

.container3 a:hover{
    background-color: black;
    color: white;
    border-color: white;
}

a{
    text-decoration: none;
    color: black;
}



/* SEKCJA 4 - STOPKA STRONY */

footer{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 50pt;
    /* border: 1pt solid red; */
}

footer > div{
    display: flex;
    justify-content: center;
}

footer a{
    margin: auto;
    text-decoration: none;
    color: black;
}


footer .one{
    background-color: gray;
}

footer .two{
    background-color: yellowgreen;
}

footer .three{
    background-color: burlywood;
}

footer .four{
    background-color: chocolate;
}