body{
    background-color: Beige;
    font-size: 30pt;
    font-family: sans-serif;
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "nav nav nav nav"
    "side content"
    "footer";
    grid-template-columns: 25% 25% 25% 25%;
    padding: 1rem 1rem 1rem 1rem;
    border: 0.2rem solid;
    background-color: lightgray;
    box-sizing: border-box;
}

.grid-container *{
    background-color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-collapse: collapse;
    box-shadow: 0 0 0 0.2rem;
}

.header{
    height: 5rem;
    grid-row: 1 / 2;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: rgb(128, 128, 128); 
} 

/* .logo{
    /* margin-top: 1rem;
    margin-left: 1rem; */
    /* margin: auto; */
    /* text-align: left; */
    /*grid-column-end: 2;
    grid-row-start: 1;
    padding: 1rem;   
} */

.main{
    height: 20rem;
    grid-column-start: 2;
    grid-column-end: 5;
    
}

.footer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: grey;
}

@media only screen and (max-width: 800px){
    .grid-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "nav"
        "side"
        "content"
        "footer";
        grid-template-rows: 10rem;
    }

    .grid-container *{
        width: 100%;
        grid-column: 1 / 2;
        column-width: 100%;
        overflow: visible;
    }

    .main, .leftcol{
        height: 10rem;
    }

    /* .logo{
        display: none;
    } */
}